{% extends 'books/base.html' %}

{% block content %}
<h1 class="mt-4">Books</h1>
<ul class="list-group">
    {% for book in books %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ book.title }} by {{ book.author }}
        <div>
            <a href="{% url 'book_edit' book.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
            <a href="{% url 'book_delete' book.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
